CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	list-style-type: none;
}

nav .nav, nav .nav-Logo {
	margin: 0.5rem;
	display: inline;
}

/*Navigation Bar End*/

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header	{
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.8rem;
}
/*Intro Section End*/

/*Succeed Info Section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Succeed Info Section End*/

/*Pre-footer Section*/
#pre-footer {
	background-color: #002540;
	color: white;
}

#pre-footer div {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    vertical-align: top;
}

#pre-footer p, h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Pre-footer Section End*/

/*Footer*/
footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Footer End